.connection{
    
    .container{
        height: 100vh;
        display: flex;
        background-color: #1977F3;
        .trait{
            width: 1px;
            background-color: black;
        }
        .signup{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;
            form{
                display: flex;
                flex-direction: column;
                width: 20%;
            }
        }
        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            form{
                display: flex;
                flex-direction: column;
                width: 20%;
            }
        }
    }
    h1{
        margin-bottom: 30px;
        font-size: 2.5em;
    }
    .envoyer{
        margin-top: 15px;
    }
}