.post{
    background-color: antiquewhite;
    width: 500px;
    height: 200px;
    margin: 20px auto;
    color: black;
    .post-contain{
        height: 80%;
    }
    .total{
        display: flex;
    }
    .buttons{
        display: flex;
        
        border-top:1px solid rgb(107, 105, 105) ;
        .btn{
            width: 33%;
        }
    }
}